*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  border-radius: 5px;
}

ul{
  list-style-type: none;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

    td{
      padding-left: 10px;
      background-color: #a83e3e;
  overflow: auto;

}
table *{
  font-size: 15px;
  border-radius: 0%;
}
.Link{
  cursor: pointer;
}
a{
  text-decoration: none;
}
.btns:hover{
  box-shadow:  20px solid rgb(65, 32, 32);
  scale: 1.2;
/* background-color: #ce2626; */
    border: none;
}

.imgblur{
  
}

.tournamentshover{
  background-color: #d1e5ff;
}
.tournamentshover:hover{
 background-color: #e6f1ff; 
}